<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Create_pdf"
            android:exported="false"
            android:label="Hello"
            android:parentActivityName=".Experience"
            />
        <activity
            android:name=".Experience"
            android:exported="false"
            android:label="Experience"
            android:parentActivityName=".Skills_Details" />
        <activity
            android:name=".Profile"
            android:exported="false"
            android:label="Profile"
            android:parentActivityName=".Educational_Details" />
        <activity
            android:name=".Skills_Details"
            android:exported="false"
            android:label="Skills"
            android:parentActivityName=".Profile" />
        <activity
            android:name=".Educational_Details"
            android:exported="false"
            android:label="Education Details"
            android:parentActivityName=".Personal_Details" />
        <activity
            android:name=".Personal_Details"
            android:exported="false"
            android:label="Personal Details"
            android:parentActivityName=".template_activity" />
        <activity
            android:name=".template_activity"
            android:exported="false"
            android:label="Template activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>